
/*! ### utility ###*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! #### HEADER #### */
body
{
    font-family: 'Comfortaa', sans-serif;
}
header
{
    width: 100%;
    background-color: #add8e6 ;
    padding: 10px 0px;
}
.squares
{
    height: 30px;
    background-color: orange;
    display: flex;
}
.square-logo
{
    width: 20%;
    border: 1px solid black;
}
.square-link
{
    width: 60%;
    border: 1px solid black;
}
.square-login
{
    width: 20%;
    border: 1px solid black;
}
/*! ### MAIN ### */
.section-blue
{
    background-color: darkblue;
    display: flex;
    height: 250px;
    padding: 20px 150px;
}
.square-pink
{
    background-color: pink;
    border: 1px solid black;
}
.sections
{
    display:flex ;
}
.sq1
{
    width: 60%;
    background-color: bisque;
    border: 1px solid gray;
}
.sq2
{
    width: 40%;
    background-color: aquamarine;
    border: 1px solid gray;
}
.section-white
{
    background-color: white;
    height: 250px;
    display: flex;
    padding: 20px 0px;
}
.section-lightgrey
{
    background-color: lightgrey;
    height: 250px;
    display: flex;
    padding: 20px 0px;
}
.section-dark
{
    background-color: black;
    display: flex;
    height: 250px;
    padding: 20px 0px;
}
.section-dark-logo
{
    background-color: black;
    display: flex;
    padding: 20px 0px;
}
/*! ### FOOTER ### */

/*! ### USE ### */
/*? #### containers #### */
.bg-container
{
    width: 60%;
    /* background-color: lightgray; */
    margin: 0px auto;
}
/*? #### backgrounds #### */
.bg-gray
{
    background-color: rgba(211, 211, 211, 0.4);
}
